.footer {
  bottom: 0;
  width: 100%;
  background-color: var(--terciary-color);
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  transition: transform 0.3s ease-in-out;
}

.image {
  width: 60px;
  margin: 10px;
}
.hidden {
  transform: translateY(100%);
}
