.noteModal {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  width: 100%;
  max-width: 500px;
  position: fixed;
  top: 110px;
  right: 0;
  left: 100%;
  color: var(--white);
  background-color: var(--primary-color);
  box-shadow: var(--shadow-hover);
  transition: transform var(--transition-speed) ease-in-out,
    opacity var(--transition-speed) ease-in-out;
  border-radius: var(--border-radius);
  padding: 50px;
  font-size: 16px;
  opacity: 0;
  z-index: 1;
}
.noteModal.active {
  transform: translateX(-100%);
  opacity: 1;
}

.title,
.titleInput {
  width: 100%;
  height: 30px;
  font-size: 20px;
  text-transform: uppercase;
  border-radius: var(--border-radius);
  padding: 5px;
  border: none;
}

.description {
  display: flex;
  align-items: start;
  text-align: left;
  width: 100%;
  font-size: 20px;
  min-height: 100px;
  margin: 0;
  padding-left: 40px;
}
.textarea {
  width: 100%;
  display: flex;
  align-items: center;
  height: 100px;
  margin: 20px 0;
  font-size: 14px;
  padding: 0.8em;
  outline: none;
  border: 2px solid var--();
  border-radius: var(--border-radius);
}

.bottomSection {
  width: 500px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.bottomSection h4 {
  margin: 10px;
}
.input {
  width: 100%;
  min-width: 220px;
  height: 30px;
  padding: 5px;
  border-radius: var(--border-radius);
  border: none;
  outline: none;
  margin: 10px;
}
.catContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px;
}
.catContainer button {
  height: 40px;
  padding: 5px;
  border-radius: 10px;
  width: 40px;
  border: none;
  background-color: var(--primary-color);
  color: var(--white);
}
.catBox {
  display: inline-block;
  margin: 5px;
  padding: 5px;
  border: 1px solid var(--white);
  border-radius: 5px;
}
.catBox span {
  margin-left: 8px;
  cursor: pointer;
  color: var(--error-color);
}
.buttonSection {
  width: 500px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.button,
.errButton {
  width: 100px;
  height: 40px;
  border-radius: 5px;
  font-size: 16px;
  border: none;
  color: var(--white);
  transition: var(--transition-speed);
}
.button {
  background-color: var(--terciary-color);
}

.errButton {
  background-color: var(--error-color);
}

.button:hover,
.errButton:hover {
  box-shadow: var(--shadow-hover);
}

.errorText {
  color: var(--error-color);
  font-size: 16px;
}
